<a href="https://colab.research.google.com/github/CristianRavalli/CAS-INFE/blob/main/CAS_Python_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#day1">Day 1</a>
            <ul>
                <li><a href="dtypes">Data Types</a></li>
</div>

<hr>

In [ ]:
# Check with Python Version I am running

import sys
print(sys.version)

3.10.12 (main, Jul 29 2024, 16:56:48) [GCC 11.4.0]


<h2 id="day1">Day 1</h2>

<h2 id="dtypes">Data Types</h2>

In [ ]:
# Converting Types
"""Ensure you DON'T USE float as a variable. Otherwise you will overwrite the function float().
If this happens use commentect out code first, to re-instate the function."""

#import builtins
#float = builtins.float

number_float = float(2)
print(number_float)

2.0

*Rechnen*

In [ ]:
# Floor Division (Whole number) using //
x = 25
x // 8 # Will only produce integer

3

*Boolean*

In [ ]:
# In Python any number that isn't 0 will be treated as TRUE

print("1 is",bool(1))
print("0 is",bool(0),"\n")
print("Number that isn't 0 in Python is always TRUE in Boolean terms.")
print("-1 is",bool(-1))
print("8 is",bool(8))

1 is True
0 is False

Number that isn't 0 in Python is always TRUE in Boolean terms.
-1 is True
8 is True

In [ ]:
# Logic Operators

"Variables"
x = 8
y = 13

print("y (13) is NOT equal to x (8). That's",not(y == x))
print("y (13) is unequal to x (8) AND also bigger than y. That's", y != x and y > x)     # are both True && True then True all other are False
print("With OR operator if at least on part of the equation is TRUE. That's",y > x or y < x)       # are one part or both are True then true only are both False or False then False
print("With XOR operator ONLY ONE opeation can be TRUE. Then it's",(y > x) ^ (y == x),"Otherwise it's FALSE.")   # are both part True or False then False else True

y (13) is NOT equal to x (8). That's True
y (13) is unequal to x (8) AND also bigger than y. That's True
With OR operator if at least on part of the equation is TRUE. That's True
With XOR operator ONLY ONE opeation can be TRUE. Then it's True Otherwise it's FALSE.

In [ ]:
# Timing Operators
"Remember, unless dealing with performance critical sections of code, it is MORE IMPORTANT to focus on readability and maintainability of code."

%timeit  not(y == x)
%timeit  (y != x)             # Faster because it's dealing with one operation and not two.

%timeit  (y != x and y > x)
%timeit  (y < x and y != x)   # If the first part is false, which it is in our case, Python won't evaluate the second section.

%timeit  (y < x or y != x)
%timeit  (y > x or y < x)     # Usually faster than inequality operators.


%timeit  (y > x) ^ (y == x)
%timeit  ((y > x) and not (y == x)) or (not(y > x) and (y == x))

130 ns ± 61.6 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
57.6 ns ± 0.806 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
124 ns ± 29.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
61.8 ns ± 1.05 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
124 ns ± 29.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
62.4 ns ± 4.81 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
212 ns ± 12.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)
164 ns ± 43.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

**Strings - Day 1**

*Strings - Basics*

In [ ]:
s = "Python"
print(s)

Python

In [ ]:
# USE """ for multiline strings.
# Any gaps and spaces on the new line, to create indentations will be accounted for by Python

multiline = """Python is fun
AND it's even better with...
multiline strings!"""

print(multiline)

Python is fun
AND it's even better with...
multiline strings!

In [ ]:
christmas_tree = """
    *
   ***
  *****
 *******
*********
   ||
   ||
"""

print(christmas_tree)

    *
   ***
  *****
 *******
*********
   ||
   ||

In [ ]:
# Priting from right to left

print("The last letter",s[-1])
print("The first letter", s[len(s)*-1])

The last letter n
The first letter P

In [ ]:
# f-string using variables

name = "cristian"
age = 46

print(f"My name is {name} and I am {age} years old.") # Easy, remember to add pre-defined variables with curly brackets.

My name is cristian and I am 46 years old.

In [ ]:
# f-string doing calculation within

# Convert Fahrenheit to Celcius

print(f"The temperature 99F in degrees celsius is {(99 - 32) * 5 / 9}C")

The temperature 99F in degrees celsius is 37.22222222222222C

In [ ]:
# f-string combining varialbes with on the spot calculation

current_temp = 61

# In the f-string you use the curly brackets, while in the calculation you can simply use the variable!

print(f"The temperature {current_temp}F in degrees celsius is {(current_temp - 32) * 5 / 9}C.")

The temperature 61F in degrees celsius is 16.11111111111111C.

In [ ]:
# Adjusting the result format to 1 decimal place using ":.1f" at the end of the computation.
print(f"The temperature {current_temp}F in degrees celsius is {(current_temp - 32) * 5 / 9:.1f}C.")

The temperature 61F in degrees celsius is 16.1C.

*An Overview of Escape Sequences*

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best")

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best")

 Michael Jackson 	 is the best

In [ ]:
# Include \ in the string

print(" Michael Jackson \\ is the best")

 Michael Jackson \ is the best

In [ ]:
# r will tell python that string will be displayed as raw string (alternative)

print(r" Michael Jackson \ is the best")

 Michael Jackson \ is the best

*Slicing (start:stop:step)*

In [ ]:
# Slicing a wort from beginning to the end in two steps

name = "E0s Sxulzlslö v p p t"

name[::2]

'EsSuzsövppt'

In [ ]:
# Einen \ printen (zwei Varianten)
print(r" \ ")   # Gibt einen einzelnen Backslash aus
#print(r"\")     # Würde einen Syntaxfehler verursachen
print("\\")     # Gibt ebenfalls einen einzelnen Backslash aus, aber ohne rohen String

 \
\

--------------------------------------------------------------------------------

**Day 2**

*Condition Statements*

In [ ]:
# Equality and inequality signs are applicable to strings too

"Please comment out the line you don't want to be returned."
#"Metallica" != "Swift Taylor" # Will return True
#"Metallica" == "Megadeath" # Will return False

"Please comment out the line you don't want to be returned."

In [ ]:
''' The following concepts or a combination thereof are important
to homogenise strings when you ask for user inputs.
Ensuring your loop will work in the desired manner.'''

# Ensures capitalising inputs won't matter for your loop

#"Metallica".lower() == "metallica" # Will return True

# Removing whitespaces that user my input by mistake.
#" Metallica ".strip() == "Metallica" # Will return True

# You could also use a combiation
" MeTaLLiCA ".strip().title() == "Metallica" # Will return True

True

*Branching*

In [ ]:
# If statement example

'''By uncommenting the second variable will illustrate the point about the
indentation'''

wintersport = "Snowboarding".lower()
#wintersport = "Skiing".lower()

#expression that can be true or false

# Will only run if condition is met
if wintersport != "skiing":

    #within an indent, we have the expression that is run if the condition is true
    print("You are a Snowboarder!" )

#runs if False
else:
    print("You must be a Skier!")

#Runs regardless if the condition is true or false
print("\n Who's next?")

You are a Snowboarder!

 Who's next?

In [ ]:
# Condition statement example

album_year = 1995
#album_year = 1978

if album_year > 1995:
    print("Album year is greater than 1995")

elif album_year == 1995:
    print("Album year is 1995, the year Fred Böhler died.")

else:
    print("less than 1995")

print("\n Weren't there much better singers in the past?")

Album year is 1995, the year Fred Böhler died.

 Weren't there much better singers in the past?

*Logical Operators*

In [ ]:
album_rating = 8.5
#album_rating = 8

if album_rating > 8:
  print("This album is Amazing!")

elif album_rating <= 8:
  print("This album is ok.")

This album is Amazing!

*Loops*

*For Loop*

In [ ]:
# for Loop to print out every element in a list

years = [1975,1978,1999,2018,2022,2023]
N = len(years)

for i in range(N):
  # Because of the identation, it's executed until true.
  # In our case that is until the list ends.
  print(years[i])

print("Priting without using a Loop.")
print(years)

1975
1978
1999
2018
2022
2023
Priting without using a Loop.
[1975, 1978, 1999, 2018, 2022, 2023]

In [ ]:
"""If one only needs the values without the index
This is a pure Python approach"""

for year in years:
  print(year)

1975
1978
1999
2018
2022
2023

In [ ]:
# Creating a list of numbers, using a loop

numbers_l = []

for i in range(0, 8):
    numbers_l.append(i)

numbers_l

[0, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

# i will stand for index, while square stands for the word in the list
# using enumerate() allows us to establish the index position of each word.

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

*While Loop*

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000, 2010, 2011, 2018, 2022, 2023]

#Counter (When using addition, always start at 0)
i = 0

# The year variable is set to 0 as we aren't expecting any year 0 to be in our list.
year = 0

while(year != 2023):
    #the variable year is re-set to the current iteration date in the list
    year = dates[i]
    # i is the counter, which we increase by 1, after each iteration.
    i = i + 1
    # Will print every date we have gone through to verify the process of our while loop
    print(year)

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
2000
2010
2011
2018
2022
2023
It took  9 repetitions to get out of loop.

In [ ]:
numbers = []

for i in range(-5,6):
  numbers.append(i)

  # Will print each number, after each loop
  print(i)

# Will create a list at the end (not indented)
print("\n Using my loop to create a list of numbers.")
numbers

# Would we not indent our print statement, we would only return the last number in our loop.
print("\n",i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

 Using my loop to create a list of numbers.

 5

In [ ]:
# Printing our Genres using Pythonic approach with corrected spelling.

Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']

for genre in Genres:
  print(genre.title())

Rock
R&B
Soundtrack
R&B
Soul
Pop

In [ ]:
# While loop

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

# Initialize the counting index
i = 1

# Set the initial Rating to the first element of the list
Rating = PlayListRatings[0]

# Continue the loop as long as the Rating is 6 or higher
while(Rating >= 6):
    # Print the current Rating
    print(Rating)

    # Update Rating to the next element using "i" in the list
    Rating = PlayListRatings[i]

    # Increment the index to move to the next element for the next iteration
    i = i + 1

10
9.5
10
8
7.5

In [ ]:
# Pythonic approach to achieve the same as above

PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]

for i,Rating in enumerate(PlayListRatings):
    if Rating < 6:
        # If Rating is less than 6, break will let you exit your loop
        break
    print(i,Rating)

0 10
1 9.5
2 10
3 8
4 7.5

In [ ]:
# Write your code below and press Shift+Enter to execute

squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []

#counter
i = 0

# i will start squares list at index 0
while squares[i] == "orange":
  # appending string to new_squares if equals to orange
  new_squares.append(squares[i])
  # we increase the counter after each iteration
  i = i +1
  #printing each result of our loop
  print(new_squares)
#print our result at the end,
print("\n" + str(new_squares))
#avoiding space created by using a comma.
print("\n",new_squares)

['orange']
['orange', 'orange']

['orange', 'orange']

 ['orange', 'orange']

*Lists*

In [ ]:
# Using .extend to add elements to the end of a list


L0= ["Michael Jackson", 10.2]
L1 = L0[:]

# .extend() MODIFIES an existing list it does NOT create a new list.
# --> you don't assign the result back to a list variable!

L1.extend(['pop', "you'll be dancing like Michael Jackson"])

print(L0)
print(L1)

['Michael Jackson', 10.2]
['Michael Jackson', 10.2, 'pop', "you'll be dancing like Michael Jackson"]

In [ ]:
# Splitting a string one paramater at the time

by_fullstop = 'cristian.ravalli@gmail.com'.split('.')
print(by_fullstop)

['cristian', 'ravalli@gmail', 'com']

In [ ]:
# Splitting of the @

by_at = by_fullstop[1].split('@')
print(by_at)

['ravalli', 'gmail']

In [ ]:
# Putting it all back together

by_fullstop[1] = by_at[0]
print(by_fullstop)

['cristian', 'ravalli', 'com']

In [ ]:
# adding gmail into the list

by_fullstop.insert(2,'gmail')
print(by_fullstop)

['cristian', 'ravalli', 'gmail', 'com']

In [ ]:
# We could have solved that all in one go using Regex

import re

eMail = 'cristian.ravalli@gmail.com'


# Define the delimiters using a raw string (r)
# As in Regex the dot is a special character matching any character
# we need to use the backslash to use it as a literal
# The pipe stands for OR

delimiters = r'\.|@'


result = re.split(delimiters, eMail)

print(result)

['cristian', 'ravalli', 'gmail', 'com']

*Copy and Clone*

In [ ]:
# Referencing (copy) is NOT cloning

# Referencing

A = ["Michael Jackson", 10.2]
copy_A = A

print('A:', A,"\n")
print('Copy of A', copy_A)

# Changing A
"! Will result in a change in its copy too!"
A[0] = "Bruce Dickinson"

print("Copy of A, after changing A:",copy_A)

A: ['Michael Jackson', 10.2]

Copy of A ['Michael Jackson', 10.2]
Copy of A, after changing A: ['Bruce Dickinson', 10.2]

In [ ]:
# Cloning a list

A2 = ["Michael Jackson", 10.2]

#clone
clone_A2 = A2[:]

# Changing A2
A2[0] = "Bruce Dickinson"

print('A2:', A2,"\n")
print('Clone of A2', clone_A2)

A2: ['Bruce Dickinson', 10.2]

Clone of A2 ['Michael Jackson', 10.2]

*Sets UNIQUE collection of objects*

In [ ]:
# Creating a set

# A list can contain duplicates
list1 = ["pop", "pop", "soul", "hard rock", "rock", "R&B", "rock", "disco"]
print(list1)
print("Length ob objects as a list (including duplicates)",len(list1),"\n")

# Converting a list into a set removes duplicates
set1 = set(list1)
print(set1)
print("Tuple will remove duplicates",len(set1))

['pop', 'pop', 'soul', 'hard rock', 'rock', 'R&B', 'rock', 'disco']
Length ob objects as a list (including duplicates) 8

{'rock', 'R&B', 'disco', 'pop', 'hard rock', 'soul'}
Tuple will remove duplicates 6

In [ ]:
# Operating on a set

set1.add("techno")
print(set1)

set1.remove("techno")
print(set1)

set1.add("hardcore")
print(set1)

"hardcore" in set1

{'rock', 'R&B', 'disco', 'techno', 'pop', 'hard rock', 'soul'}
{'rock', 'R&B', 'disco', 'pop', 'hard rock', 'soul'}
{'rock', 'R&B', 'disco', 'pop', 'hard rock', 'hardcore', 'soul'}

True

In [ ]:
# Logical Operators on a set

# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Master of Puppets'])
album_set2 = set([ "AC/DC", "Master of Puppets", "The Dark Side of the Moon"])

album_set1, album_set2

({'AC/DC', 'Master of Puppets', 'Thriller'},
 {'AC/DC', 'Master of Puppets', 'The Dark Side of the Moon'})

In [ ]:
# Find the intersection of the two

intersection = album_set1 & album_set2

# Find the elements only contained in one of each set

unique = album_set1.difference(album_set2)

# Find the difference
difference1 = album_set1.difference(album_set2)
difference2 = album_set2.difference(album_set1)

# Find the union
union = album_set1.union(album_set2)


# Check if subset
album_set1.issubset(album_set2)

print("Intersection:",intersection)
print("Unique values:",unique)
print("Values only in 1st set:",difference1)
print("Values only in 2nd set:", difference2)
print("\nUnion:",union)

Intersection: {'AC/DC', 'Master of Puppets'}
Unique values: {'Thriller'}
Values only in 1st set: {'Thriller'}
Values only in 2nd set: {'The Dark Side of the Moon'}

Union: {'AC/DC', 'Thriller', 'The Dark Side of the Moon', 'Master of Puppets'}

*Dictionaries*

In [ ]:
blockbusters = {
    "Avengers: Endgame": {
        "year": 2019,
        "worldwide_gross": "$2.797 billion"
    },
    "Avatar: The Way of Water": {
        "year": 2022,
        "worldwide_gross": "$2.320 billion"
    },
    "Top Gun: Maverick": {
        "year": 2022,
        "worldwide_gross": "$1.488 billion"
    },
    "Spider-Man: No Way Home": {
        "year": 2021,
        "worldwide_gross": "$1.921 billion"
    },
    "The Lion King": {
        "year": 2019,
        "worldwide_gross": "$1.663 billion"
    },
    "Jurassic World: Fallen Kingdom": {
        "year": 2018,
        "worldwide_gross": "$1.310 billion"
    },
    "Frozen II": {
        "year": 2019,
        "worldwide_gross": "$1.450 billion"
    },
    "Joker": {
        "year": 2019,
        "worldwide_gross": "$1.074 billion"
    },
    "The Batman": {
        "year": 2022,
        "worldwide_gross": "$770.8 million"
    },
    "Black Panther: Wakanda Forever": {
        "year": 2022,
        "worldwide_gross": "$859.2 million"
    }
}

In [ ]:
# Get all keys, values in dictionary

blockbusters.keys(),blockbusters.values()

(dict_keys(['Avengers: Endgame', 'Avatar: The Way of Water', 'Top Gun: Maverick', 'Spider-Man: No Way Home', 'The Lion King', 'Jurassic World: Fallen Kingdom', 'Frozen II', 'Joker', 'The Batman', 'Black Panther: Wakanda Forever']),
 dict_values([{'year': 2019, 'worldwide_gross': '$2.797 billion'}, {'year': 2022, 'worldwide_gross': '$2.320 billion'}, {'year': 2022, 'worldwide_gross': '$1.488 billion'}, {'year': 2021, 'worldwide_gross': '$1.921 billion'}, {'year': 2019, 'worldwide_gross': '$1.663 billion'}, {'year': 2018, 'worldwide_gross': '$1.310 billion'}, {'year': 2019, 'worldwide_gross': '$1.450 billion'}, {'year': 2019, 'worldwide_gross': '$1.074 billion'}, {'year': 2022, 'worldwide_gross': '$770.8 million'}, {'year': 2022, 'worldwide_gross': '$859.2 million'}]))

*Solving using Decision Tree*

In [ ]:
from IPython.display import Image

#Actual URL of your image replacing the "github.com" part with "raw.githubusercontent.com"
image_url = "https://raw.githubusercontent.com/CristianRavalli/CAS-INFE/main/DecisionTreeHalving.png"

display(Image(url=image_url))

In [ ]:
# Creating Input Box account for potential whitespaces (.strip) and capitalised entries (.lower) by the user.

inp = input("Please think of a number from 1 to 10. Ready? Please type 'yes' or 'y' when you are.")

# The below reduces any provided entry like yeah, yo, etc. to just the first letter.
if inp.startswith('y'):

  # Now we are going up the decision tree all the way up form 5 to 10.

  inp = input("Is the number greater than 5?")
  if inp.startswith('y'):
    inp = input("Is the number greater than 7?")
    if inp.startswith('y'):
      inp = input("Is the number greater than 9?")
      if inp.startswith('y'):
        print("\nThe number is 10.")

      # Working our way back to account for "No" answers equal or bigger than 7.
      else:
        inp = input("Is the number equal to 8?")
        if inp.startswith('y'):
          print("\nThe number is 8.")
        else:
          print("\nThe number is 9.")

    # This loop is aligned with greater than 7, because we are now evaluating that branch in reverse
    else:
      inp = input("Is the number equal to 7?")
      if inp.startswith('y'):
        print("\nThe number is 7.")
      else:
        print("\nThe number is 6.")

  # This loop is aligned with greater than 5, because we are now evaluating that branch Bottom up
  else:
    inp = input("Is the number greater than 2?")
    if inp.startswith('y'):
      inp = input("Is the number greater than 4?")
      if inp.startswith('y'):
        print("\nThe number is 5.")
      else:
        inp = input("Is the number equal to 3?")
        if inp.startswith('y'):
          print("\nThe number is 3.")
        else:
          print("\nThe number is 4.")

    # This loop is aligned with greater than 2, because we are now evaulating that brnach in reverse
    else:
      inp = input("Is the number equal to 1?")
      if inp.startswith('y'):
        print("\nThe number is 1.")
      else:
        print("\nThe number is 2.")

print("\nThanks for coming in!")

Please think of a number from 1 to 10. Ready? Please type 'yes' or 'y' when you are.y
Is the number greater than 5?y
Is the number greater than 7?y
Is the number greater than 9?y

The number is 10.

Thanks for coming in!

In [ ]:
# Assume str_number is a string containing digits
str_number = "73167176531330624919225119674426574742355349194934"  # Example number

# Initialize variables to store the largest product and its starting position
largest_product = 0
at_position = 0

# Loop through the string, considering each group of 5 consecutive digits
for i in range(len(str_number) - 4):  # Subtract 4 to prevent index out of range
    tmp = 1  # Temporary variable to hold the product of the current group

    # Multiply the next five digits together
    for j in range(5):
        tmp *= int(str_number[i + j])  # Convert each character to integer and multiply

    # Check if the current product is larger than the largest found so far
    if tmp > largest_product:
        largest_product = tmp        # Update the largest product
        at_position = i              # Update the position

    # No need to modify 'i' here; the for-loop controls it

# Print the largest product, starting position, and the digit sequence
print(
    "Largest product is",
    largest_product,
    "starting at position",
    at_position,
    "(" + str_number[at_position:at_position + 5] + ")"
)

Largest product is 6048 starting at position 25 (96744)

*Christmas Tree Loop*

In [ ]:
# This initalises two variables i and high both at 0
i = hight = 0

# Prompts user for an input

while not hight:
    inp = input("Hight of Christmas tree ")
    # Converts the input to an integer if not 0 else it assigns 0.

    hight = int(inp if len(inp) != 0 else 0)

    # Checks whether the entered number is bigger than 40.

    if hight > 40:
        print("Tree too big, can't be displayed....")
        hight = 0
        continue
    # Exits (breaks) the loop if integer negative.

    elif hight < 0:
        print("Negative trees???? Bye")
        break
    elif hight == 0:
        continue

    star = "*"
    stem = '#'
    empty = ' '
    # Begins a for loop to construct each level of tree.

    for i in range(hight):
        stars = emptysign = ''

        # Creates the necessary spaces on the left side to center the tree.
        # The number of spaces decreases at each level.

        while len(emptysign) < (hight - 1 - i):
            emptysign += empty

        # Builds the stars for the current level. i is used for the level it is at.
        while len(stars) < (i * 2 + 1):
            stars += star

        # Prints the combination of spaces and starts for the current level.
        print(emptysign + stars)

    # Draws the trunk of the tree.
    # k as a loop counter
    # hight // 5 will set the hight to 1/5 of the tree hight or to 2, if 2 or smaller.
    for k in range((hight // 5) if(hight // 5) > 2 else 2):

        # {}{}".format (spaces,trunk)
        # (hight - 1 - 1) . Hight - 1 = Index of the last line.
        # That minus 1 equals where the trunk can start.
        print("{}{}".format(empty * int(hight - 1 - 1), stem * 3))

Hight of Christmas tree 15
              *
             ***
            *****
           *******
          *********
         ***********
        *************
       ***************
      *****************
     *******************
    *********************
   ***********************
  *************************
 ***************************
*****************************
             ###
             ###
             ###

Print following values:

- Warmest city in with max temperatures
- Highest humidity city with max humidities
- Highest pressure in city with max pressures
- It is raining in cities
- Broken clouds in cities

In [ ]:
weather_responses = '''
[
    {
        "clouds": {
            "all": 90
        },
        "name": "Zurich",
        "coord": {
            "lat": 47.37,
            "lon": 8.55
        },
        "sys": {
            "country": "CH",
            "sunset": 1417707376,
            "message": 0.1971,
            "type": 1,
            "id": 6007,
            "sunrise": 1417676164
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 804,
                "icon": "04n",
                "description": "overcast clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417726789,
        "main": {
            "pressure": 1014,
            "temp_min": 4,
            "temp_max": 5,
            "temp": 4.4,
            "humidity": 86
        },
        "id": 2657896,
        "wind": {
            "speed": 1.32,
            "deg": 47.5016
        }
    },
    {
        "clouds": {
            "all": 90
        },
        "name": "Geneva",
        "coord": {
            "lat": 46.21,
            "lon": 6.14
        },
        "sys": {
            "country": "Switzerland",
            "sunset": 1417708213,
            "message": 0.1879,
            "type": 1,
            "id": 6002,
            "sunrise": 1417676482
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 804,
                "icon": "04n",
                "description": "overcast clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417726200,
        "main": {
            "pressure": 1014,
            "temp_min": 5,
            "temp_max": 7,
            "temp": 5.97,
            "humidity": 87
        },
        "id": 7285902,
        "wind": {
            "speed": 0.5,
            "deg": 0
        }
    },
    {
        "clouds": {
            "all": 90
        },
        "name": "Lausanne",
        "coord": {
            "lat": 46.52,
            "lon": 6.63
        },
        "sys": {
            "country": "CH",
            "sunset": 1417708028,
            "message": 0.0969,
            "type": 1,
            "id": 6010,
            "sunrise": 1417676432
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 804,
                "icon": "04n",
                "description": "overcast clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417726496,
        "main": {
            "pressure": 1014,
            "temp_min": 2.3,
            "temp_max": 6,
            "temp": 4.46,
            "humidity": 93
        },
        "id": 2659994,
        "wind": {
            "speed": 1,
            "deg": 0
        }
    },
    {
        "clouds": {
            "all": 90
        },
        "name": "Bern",
        "coord": {
            "lat": 46.95,
            "lon": 7.45
        },
        "sys": {
            "country": "CH",
            "sunset": 1417707736,
            "message": 0.0954,
            "type": 1,
            "id": 6013,
            "sunrise": 1417676333
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 804,
                "icon": "04n",
                "description": "overcast clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417724400,
        "main": {
            "pressure": 1014,
            "temp_min": 4,
            "temp_max": 5,
            "temp": 4.39,
            "humidity": 93
        },
        "id": 2661552,
        "wind": {
            "speed": 1.5,
            "deg": 0
        }
    },
    {
        "clouds": {
            "all": 75
        },
        "name": "Basel",
        "coord": {
            "lat": 47.56,
            "lon": 7.57
        },
        "sys": {
            "country": "CH",
            "sunset": 1417707566,
            "message": 0.0331,
            "type": 1,
            "id": 5646,
            "sunrise": 1417676443
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 803,
                "icon": "04n",
                "description": "broken clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417725889,
        "main": {
            "pressure": 1015,
            "temp_min": 4,
            "temp_max": 4,
            "temp": 4,
            "humidity": 93
        },
        "id": 2661604,
        "wind": {
            "speed": 1.5,
            "deg": 290
        }
    },
    {
        "clouds": {
            "all": 90
        },
        "name": "Winterthur",
        "coord": {
            "lat": 47.5,
            "lon": 8.75
        },
        "sys": {
            "country": "CH",
            "sunset": 1417707297,
            "message": 0.1803,
            "type": 3,
            "id": 6007,
            "sunrise": 1417676146
        },
        "weather": [
            {
                "main": "Clouds",
                "id": 804,
                "icon": "04n",
                "description": "overcast clouds"
            }
        ],
        "cod": 200,
        "base": "cmc stations",
        "dt": 1417727087,
        "main": {
            "pressure": 1015,
            "temp_min": 3.7,
            "temp_max": 4.5,
            "temp": 4.0700000000001,
            "humidity": 86
        },
        "id": 2657970,
        "wind": {
            "speed": 1.32,
            "deg": 47.5016
        }
    }
]
'''

***Performing EDA on JSON***

In [ ]:
# Import library
import json

# Convert the JSON string to a Python dictionary
weather_data = json.loads(weather_responses)

# Access the first dictionary in the list (index 0)
first_city_weather = weather_data[0]

# Access the keys and values of the dictionary
print('Dictionary keys are',first_city_weather.keys(),"\n")
print('Dictionary values are',first_city_weather.values(),"/n")

Dictionary keys are dict_keys(['clouds', 'name', 'coord', 'sys', 'weather', 'cod', 'base', 'dt', 'main', 'id', 'wind'])

Dictionary values are dict_values([{'all': 90}, 'Zurich', {'lat': 47.37, 'lon': 8.55}, {'country': 'CH', 'sunset': 1417707376, 'message': 0.1971, 'type': 1, 'id': 6007, 'sunrise': 1417676164}, [{'main': 'Clouds', 'id': 804, 'icon': '04n', 'description': 'overcast clouds'}], 200, 'cmc stations', 1417726789, {'pressure': 1014, 'temp_min': 4, 'temp_max': 5, 'temp': 4.4, 'humidity': 86}, 2657896, {'speed': 1.32, 'deg': 47.5016}]) /n

In [ ]:
# Investigating if there could be nested dictionaries within the data provided.

# Initialize a dictionary to hold nested keys
nested_keys = {}

# Iterate over each key-value pair in the first city's dictionary
for key, value in first_city_weather.items():
    if isinstance(value, dict):
        # If the value is a dictionary, store its keys
        nested_keys[key] = list(value.keys())

# Print the nested keys for each top-level key that contains a dictionary
print("Nested keys within each top-level dictionary key:")
for top_key, keys in nested_keys.items():
    print(f"{top_key}: {keys}")

Nested keys within each top-level dictionary key:
clouds: ['all']
coord: ['lat', 'lon']
sys: ['country', 'sunset', 'message', 'type', 'id', 'sunrise']
main: ['pressure', 'temp_min', 'temp_max', 'temp', 'humidity']
wind: ['speed', 'deg']

In [ ]:
# Verifing how many levels of nesting there are

def explore_structure(data, level=0):
    """
    Recursively explores the structure of a JSON-like object,
    printing out keys and the types of their associated values.
    """
    # Indentation for visualizing levels
    indent = '  ' * level

    if isinstance(data, dict):
        for key, value in data.items():
            # Print the key with its nesting level
            print(f"{indent}- {key} (type: {type(value).__name__})")
            # Recursively explore the value if it's a dictionary or list
            if isinstance(value, (dict, list)):
                explore_structure(value, level + 1)

    elif isinstance(data, list):
        print(f"{indent}List of {len(data)} elements")
        # Optionally explore the first element to get a sense of the structure
        if data:
            explore_structure(data[0], level)

# Start exploring from the top level
print("Exploring JSON Structure:")
explore_structure(weather_data)

Exploring JSON Structure:
List of 6 elements
- clouds (type: dict)
  - all (type: int)
- name (type: str)
- coord (type: dict)
  - lat (type: float)
  - lon (type: float)
- sys (type: dict)
  - country (type: str)
  - sunset (type: int)
  - message (type: float)
  - type (type: int)
  - id (type: int)
  - sunrise (type: int)
- weather (type: list)
  List of 1 elements
  - main (type: str)
  - id (type: int)
  - icon (type: str)
  - description (type: str)
- cod (type: int)
- base (type: str)
- dt (type: int)
- main (type: dict)
  - pressure (type: int)
  - temp_min (type: int)
  - temp_max (type: int)
  - temp (type: float)
  - humidity (type: int)
- id (type: int)
- wind (type: dict)
  - speed (type: float)
  - deg (type: float)

In [57]:
# Printing the data to understand it

# Define variables
city_names = []
temperatures = []
pressures = []
humidities = []
weather = []
#raining_cities = []
#cloudy_cities = []


print("All Searching For Data============================================")
for city in weather_data:

    city_names.append(city["name"])
    temperatures.append(city["main"]["temp_max"])
    pressures.append(city["main"]["pressure"])
    humidities.append(city["main"]["humidity"])
    weather.append(city["weather"][0]["description"])

print(city_names)
print(temperatures)
print(pressures)
print(humidities)
print(weather)

All Searching For Data============================================
['Zurich', 'Geneva', 'Lausanne', 'Bern', 'Basel', 'Winterthur']
[5, 7, 6, 5, 4, 4.5]
[1014, 1014, 1014, 1014, 1015, 1015]
[86, 87, 93, 93, 93, 86]
['overcast clouds', 'overcast clouds', 'overcast clouds', 'overcast clouds', 'broken clouds', 'overcast clouds']

- Warmest city in with max temperatures
- Highest humidity city with max humidities
- Highest pressure in city with max pressures
- It is raining in cities
- Broken clouds in cities

In [58]:
# Extract relevant data including occurances
temperatures = [city['main']['temp'] for city in weather_data]
pressures = [city['main']['pressure'] for city in weather_data]
humidities = [city['main']['humidity'] for city in weather_data]
weather_conditions = [city['weather'][0]['description'] for city in weather_data]

# Initialize variables to track the maximum temperature and its count
maximum_temp = 0
max_temp_count = 0

# Initialize variables to track the maximum pressure and its count
maximum_pressure = 0
max_pressure_count = 0

# Initialize variables to track the maximum humidity and its count
maximum_humidity = 0
max_humidity_count = 0

# Raining cities variable to track cities it rains and their count
raining_cities = []
raining_count = 0

# Cloudy cities variable to track cities it is cloudy and their count
cloudy_cities = []
cloudy_count = 0

# Calculate maximum temperature and its occurrences
for temp in temperatures:
    if temp > maximum_temp:
        maximum_temp = temp
        max_temp_count = 1
    elif temp == maximum_temp:
        max_temp_count += 1

# Calculate maximum pressure and its occurrences
for pressure in pressures:
    if pressure > maximum_pressure:
        maximum_pressure = pressure
        max_pressure_count = 1
    elif pressure == maximum_pressure:
        max_pressure_count += 1

# Calculate maximum humidity and its occurrences
for humidity in humidities:
    if humidity > maximum_humidity:
        maximum_humidity = humidity
        max_humidity_count = 1
    elif humidity == maximum_humidity:
        max_humidity_count += 1

# Track cities with rain and clouds
for city in weather_data:
    description = city['weather'][0]['description']
    city_name = city['name']
    if "rain" in description:
        raining_cities.append(city_name)
        raining_count += 1
    if "broken clouds" in description:
        cloudy_cities.append(city_name)
        cloudy_count += 1

# Print results
print(f"The maximum temperature is {maximum_temp}°C and it occurs {max_temp_count} times.\n")
print(f"The maximum pressure is {maximum_pressure} and it occurs {max_pressure_count} times.\n")
print(f"The maximum humidity is {maximum_humidity} and it occurs {max_humidity_count} times.\n")
print(f"It rains in {raining_cities} and it occurs {raining_count} times.\n")
print(f"It is broken cloud in {cloudy_cities} and it occurs {cloudy_count} times.\n")

The maximum temperature is 5.97°C and it occurs 1 times.

The maximum pressure is 1015 and it occurs 2 times.

The maximum humidity is 93 and it occurs 3 times.

It rains in [] and it occurs 0 times.

It is broken cloud in ['Basel'] and it occurs 1 times.

In [59]:
# Extract relevant data including list of cities IF there are several occurances.
maximum_temp = 0
max_temp_count = 0
max_temp_cities = []

maximum_pressure = 0
max_pressure_count = 0
max_pressure_cities = []

maximum_humidity = 0
max_humidity_count = 0
max_humidity_cities = []

raining_cities = []
raining_count = 0

cloudy_cities = []
cloudy_count = 0

# Iterate over each city's data
for city in weather_data:
    city_name = city['name']
    temp = city['main']['temp']
    pressure = city['main']['pressure']
    humidity = city['main']['humidity']
    description = city['weather'][0]['description'] # accessing the list of dictionaries, albeit there is only one. subsequently, working with the key again.

    # Check for maximum temperature
    if temp > maximum_temp:
        maximum_temp = temp
        max_temp_count = 1
        max_temp_cities = [city_name]
    elif temp == maximum_temp:
        max_temp_count += 1
        max_temp_cities.append(city_name)

    # Check for maximum pressure
    if pressure > maximum_pressure:
        maximum_pressure = pressure
        max_pressure_count = 1
        max_pressure_cities = [city_name]
    elif pressure == maximum_pressure:
        max_pressure_count += 1
        max_pressure_cities.append(city_name)

    # Check for maximum humidity
    if humidity > maximum_humidity:
        maximum_humidity = humidity
        max_humidity_count = 1
        max_humidity_cities = [city_name]
    elif humidity == maximum_humidity:
        max_humidity_count += 1
        max_humidity_cities.append(city_name)

    # Track cities with rain
    if "rain" in description:
        raining_cities.append(city_name)
        raining_count += 1

    # Track cities with broken clouds
    if "broken clouds" in description:
        cloudy_cities.append(city_name)
        cloudy_count += 1

# Print results
print(f"The maximum temperature is {maximum_temp}°C and it occurs {max_temp_count} times in {max_temp_cities}.\n")
print(f"The maximum pressure is {maximum_pressure} and it occurs {max_pressure_count} times in {max_pressure_cities}.\n")
print(f"The maximum humidity is {maximum_humidity} and it occurs {max_humidity_count} times in {max_humidity_cities}.\n")
print(f"It rains in {raining_cities} and it occurs {raining_count} times.\n")
print(f"It is broken cloud in {cloudy_cities} and it occurs {cloudy_count} times.\n")

The maximum temperature is 5.97°C and it occurs 1 times in ['Geneva'].

The maximum pressure is 1015 and it occurs 2 times in ['Basel', 'Winterthur'].

The maximum humidity is 93 and it occurs 3 times in ['Lausanne', 'Bern', 'Basel'].

It rains in [] and it occurs 0 times.

It is broken cloud in ['Basel'] and it occurs 1 times.